{% extends 'base.html' %}

{% block content %}
    {% include 'components/about.html' %}

    <!-- ═══ Career ═══ -->
    {% if resume.careers.all %}
        <div class="w-full border border my-10 border-[#afafaf]"></div>
        {% include 'components/career.html' %}
    {% endif %}

    <!-- ═══ Skills ═══ -->
    {% if resume.skills.all %}
        <div class="w-full border border my-10 border-[#afafaf]"></div>
        {% include 'components/skills.html' %}
    {% endif %}

    <!-- ═══ Cover Letters ═══ -->
    {% if resume.projects.all %}
        <div class="w-full border border my-10 border-[#afafaf]"></div>
        {% include 'components/projects.html' %}
    {% endif %}

    <!-- ═══ PROJECTS ═══ -->
    {% if resume.cover_letters.all %}
        <div class="w-full border border my-10 border-[#afafaf]"></div>
        {% include 'components/cover_letters.html' %}
    {% endif %}
{% endblock %}