{% extends 'base.html' %}

{% block content %}
    {% include 'components/about.html' %}
    <div class="w-full border border my-10 border-[#afafaf]"></div>

    <!-- ═══ Career ═══ -->
    {% include 'components/career.html' %}
    <div class="w-full border border my-10 border-[#afafaf]"></div>

    <!-- ═══ Skills ═══ -->
    {% include 'components/skills.html' %}
    <div class="w-full border border my-10 border-[#afafaf]"></div>

    <!-- ═══ Cover Letters ═══ -->
    {% include 'components/projects.html' %}
    <div class="w-full border border my-10 border-[#afafaf]"></div>

    <!-- ═══ PROJECTS ═══ -->
    {% include 'components/cover_letters.html' %}
{% endblock %}