{% load customs %}

<section id="about" class="section pt-10">
    <div class="mb-5">
        <div class="text-[2rem]">{{ resume.title }}</div>

        {% if resume.expressions.all %}
            <div class="flex flex-wrap gap-2">
                {% for x in resume.expressions.all %}
                    <span class="bg-gray-200 px-3 py-1 rounded-[0.5rem] ">
                    {{ x.keyword }}
                </span>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="mb-3">
        <img id="profile-img"
             src="{{ resume.profile_image.url }}"
             class="w-[13rem] h-[13rem] rounded-full overflow-hidden border border-border mx-auto md:mx-0"/>
    </div>

    <div class="mb-3">
        <div class="flex justify-between items-center">
            <span class="text-[2rem] truncate min-w-0 mr-2">{{ resume.name }}</span>

            <div class="flex items-center gap-2 shrink-0">
                <form action="{% url 'create_pdf' %}" method="post" class="download-pdf" data-id="resume">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="resume">
                    <input type="hidden" name="resume_id" value="{{ request.GET.resume_id }}">
                    <button class="border rounded px-3 py-1.5 hover:bg-gray-100 flex items-center gap-1.5 text-sm">
                        <i class="fa-regular fa-file-lines"></i>
                        <span class="hidden sm:inline">이력서</span>
                    </button>
                </form>
                <form action="{% url 'create_pdf' %}" method="post" class="download-pdf" data-id="portfolio">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="portfolio">
                    <input type="hidden" name="resume_id" value="{{ request.GET.resume_id }}">
                    <button class="border rounded px-3 py-1.5 hover:bg-gray-100 flex items-center gap-1.5 text-sm">
                        <i class="fa-regular fa-folder-open"></i>
                        <span class="hidden sm:inline">포트폴리오</span>
                    </button>
                </form>
            </div>
        </div>

        <div>
            <div>
                <i class="fa-solid fa-envelope"></i>
                <span>{{ resume.email }}</span>
            </div>
            {% for x in resume.links.all %}
                <div>
                    <i class="{{ x.icon_class }}"></i>
                    <a href="{{ x.link }}" class="hover:underline" target="_blank">{{ x.link }}</a>
                </div>
            {% endfor %}
        </div>

    </div>

    {% if resume.introduction %}
        <div class="text-[1rem] [&_ul]:space-y-2 [&_li]:leading-normal my-3 font-pretendard">{{ resume|replace_introduction|to_markdown }}</div>
    {% endif %}

</section>