<section id="skills" class="section">
    <div class="text-section  uppercase mb-5"># 보유 기술</div>

    <div class="flex flex-col gap-10" id="skills-list">
        <!-- Languages -->
        <div class="flex flex-wrap gap-3">
            {% for skill in resume.skills.all %}
                <span class="slide-panel px-3 py-1 rounded-[0.5rem] bg-gray-200 cursor-pointer hover:bg-gray-300"
                      data-id="skills/{{ skill.id }}">
                {{ skill.name }}
                </span>
            {% endfor %}

        </div>
    </div>
</section>